.image-list {
  columns: 4 20rem;
  column-gap: 1rem;
}

.image-list > .image {
  padding: 0;
  border: none;
  overflow: hidden;
  width: 16rem;
  margin: 0 0.5rem 0.5rem 0;
  display: inline-block;
  width: 100%;
  border-radius: 1rem;
  transition: transform var(--transition-duration) var(--transition-easing);
}

.image-list > .image > img {
  width: 100%;
  display: block;
}

@media (hover: hover) {
  .image-list > .image:hover:not(:active) {
    transform: translateY(-0.25rem);
  }
}

@media (hover: none) {
  .image-list > .image:active {
    transform: translateY(0.25rem);
  }
}
